# Build
target/
build/
out/

# IDE
.idea/
*.iml
.vscode/

# Allure
.allure/
allure-results/
allure-report/

# Swagger-coverage
.swagger-coverage-commandline/
swagger-coverage*.zip
swagger-coverage-output/
swagger-coverage-report.html
swagger-coverage-results.json

# OS
.DS_Store
Thumbs.db
